@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'KoPubBatang';
    src: url('../fonts/KoPubBatang-Regular.woff2') format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'KoPubBatang';
    src: url('../fonts/KoPubBatang-Light.woff2') format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'KoPubBatang';
    src: url('../fonts/KoPubBatang-Bold.woff2') format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

