
@import url("fonts.css");

@import url("reset.css");


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header, footer{
    background-color: #545454;
    text-align: center;
    padding: 5px 5px;
    text-transform: capitalize;
    font-size: 20px;
}
header{
    margin-bottom: 15px;
}
.page{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 1 auto;
    font-family: "Poppins", sans-serif;
}

[class*="__container"] {
	max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}




.featured {
    
    
}
.featured__container{
    
}

.block-header {
    
}
.block-header--margin{
}
.block-header__container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.block-header__title {
    color: #1A1A1A;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

.title-style{
    color: #1A1A1A;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.block-header__link{
    font-weight: 500;
}

.link-style{
    color: #00B207;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex: 0 0 auto;
}



@keyframes knocking {
    0% {
        transform: translate(0px);
    }
    50%{
        transform: translate(5px);
    }
    100% {
        transform: translate(0px);
    }
}

.link-style span{
    display: flex;
    gap: 6px;
    align-items: center;
}

.link-style span::after{
    content: "";
    background: url("../img/arrow_right.svg") center no-repeat;
    width: 15px;
    height: 13px;
    animation: knocking 1.5s ease-out infinite 0.5s forwards ;
}


.product-card{
    
}
.product-card--margin{
    
}
.product-card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    
}
.product-card__item {
    display: flex;
    border: 1px solid#E6E6E6;
    overflow: clip;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 -1px -1px 0;
    padding: 5px 6px 6px 5px;
    flex: 0 1 calc(264px + 1px);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #fff;
}

.product-card__item:hover{
    flex: 0 1 264px;
    margin: 0px;
    padding: 5px;
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px #20b52652;
    
}


.sale-mark {
    position: absolute;
    top: 11px;
    left: 11px;
    border-radius: 4px;
    background: #EA4B48;
    padding: 7px 8px;

}
.sale-mark__text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.product-card__image {
    aspect-ratio: 254 / 230;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.link-image {
    max-width: 40px;
    max-height: 40px;
    opacity: 0;
    visibility: hidden;
}

.product-card__item:hover .product-card__link-title{
    color: #2C742F;
} 



@media (any-hover: hover), (pointer: fine) {
    .product-card__item:hover .link-image {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s linear 0.1s;
    }
}

@media (any-hover: none), (pointer: coarse) {
    .link-image {
        opacity: 1;
        visibility: visible;
    }
}


.product-card__item:hover .product-card__buttons{
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 16px;
    right: 15px;
}

.product-card__buttons{
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 16px;
    right: 16px;
}



.add-to-wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 0px;
    right: 0px;
}
.add-to-wishlist:hover path{
    stroke: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.add-to-wishlist:hover{
    background-color: #00B207;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.quick-view{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 0px;
    right: 0px;
}
.quick-view:hover path{
    stroke: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.quick-view:hover{
    background-color: #00B207;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.product-card__info {
    margin: 0 0 7px 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 10px; 
}
.product-card__text{
    display: flex;
    gap: 15px;
}
.product-card__main-text{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex: 1 1 170px;
}
.product-card__title{

}
.product-card__link-title {
    color: #4D4D4D;
    font-size: 14px;
    line-height: 1.2;
    text-transform: capitalize;
}

@media (any-hover: hover) {
    .product-card__link-title:hover {
        text-decoration: underline;
    }
}

@media (any-hover: none) {
    .product-card__link-title {
        
    }
}

.product-card__price{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    line-height: 1.1;
}
.product-card__relevant {
    color: #1A1A1A;
    font-weight: 500;
    
}
.product-card__not-relevant{
    color: #999;
    text-decoration: line-through;
}



.cart {
    width: 57px;
    flex-shrink: 0;
    position: relative;
    bottom: -16px;
    right: -16px;
}
.cart__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cart__link:hover path{
    stroke: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cart__link:hover{
    background-color: #00B207;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product-card__rating {
    display: flex;
    flex: 0 1 12px;
}
.product-card__image-rating {
    
}

.news {
}
.news--margine{
    margin: 0 0 30px 0;
}

.block-title-news {
}
.block-title-news__container {
}
.block-title-news__title {
    text-align: center;
    padding: 0 15px;
}

.news__container {
    
}
.news__cards {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-news {
    display: flex;
    flex-direction: column;
    max-width: 424px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: clip;
    position: relative;
    margin: 0px -1px 0px -1px;
    background-color: #fff;
}

.card-news__image {
    aspect-ratio: 424 / 324;
    object-fit: cover;
    background-color: #d2d2d2;
    
}


.card-news__info{
    display: flex;
    flex-direction: column;
    margin: -58px 0 0px 0;
    padding: 24px;
    flex-grow: 1;
}

.card-news__blpck_calendar{
    display: inline-block;
}
.card-news__calendar {
    background-color: #fff;
    padding: 10px 15.2px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 58px;
    gap: 6px;
    position: relative;
    top: -80px;
    left: 24px;
    font-weight: 500;
}
.card-news__calendar :nth-child(1){
    color:#1A1A1A;
    font-size: 20px;
}
.card-news__calendar :nth-child(2){
    color: #808080;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-size: 12px;
}
.card-news__items-row {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: #4D4D4D;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    margin: 0 0 8px 0;
}
.card-news__item-link {
    display: flex;
    gap: 4px;
}


@media (any-hover: hover) {
    .card-news__item-link:hover{
        text-decoration: underline;
        color: #2b2b2b;
    }
}

@media (any-hover: none) {
    .card-news__item-link:hover{
        color: #2b2b2b;
    }
}

.card-news__item-link::before{
    animation: scale 1.5s ease-out infinite 0.5s forwards ;
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

.card-news__item-link:nth-child(1)::before{
    content: "";
    background: url(../img/label_mark.svg) center no-repeat;
    width: 20px;
    height: 20px;
}
.card-news__item-link:nth-child(2)::before{
    content: "";
    background: url(../img/person_mark.svg) center no-repeat;
    width: 20px;
    height: 20px;
}
.card-news__item-link:nth-child(3)::before{
    content: "";
    background: url(../img/chat.svg) center no-repeat;
    width: 20px;
    height: 20px;
}

.card-news__text {
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 20px 0;
    flex-grow: 1;
    
}

.card-news:hover .card-news__text{
    color: #2C742F;
    
}
.card-news__title-link{
}
.card-news__title-link span{
    display: inline-flex;
}
.card-news__link {
    font-weight: 600;
    display: inline-block;
}

@media (max-width: 1313.98px){
    .card-news{
        max-width: 564px;
        justify-content: space-around;
    }
}

@media (max-width: 1199.98px){
    .product-card__item{
        flex: 0 1 calc(294px + 1px);
    }
    .product-card__item:hover{
        flex: 0 1 294px;
    }
    .card-news{
        max-width: 564px;
        
    }
}
@media (max-width: 1177.98px){
    .card-news{
        max-width: 354px;
    }
}
    
@media (max-width: 991.98px) {
    .product-card__item{
        flex: 0 1 calc(304px + 1px);
    }
    .product-card__item:hover{
        flex: 0 1 304px;
    }
    .page{
        gap: 20px;
    }
    .card-news{
        max-width: 454px;
    }
    .card-news__items-row{
        gap: 10px;
    }
}
@media (max-width: 767.98px){
    .product-card__item{
        flex: 0 1 calc(324px + 1px);
    }
    .product-card__item:hover{
        flex: 0 1 324px;
    }
    .card-news{
        max-width: 554px;
    }
    .card-news__item-link{
        font-size: 20px;
        padding: 5px;
        align-items: center;
    }
    .card-news__items-row{
        justify-content: center;
        gap: 10px;
        margin: 0 0 3px 0;
    }
    .card-news__text{
        margin: 0 0 10px 0;
    }
    .card-news__info{
        padding: 5px 15px 15px 15px;
    }
}
@media (max-width: 677.98px){
    .product-card__item{
        flex: 0 1 calc(404px + 1px);
    }
    .product-card__item:hover{
        flex: 0 1 404px;

    }
    .card-news__items-row{
        gap: 0px 40px;
    }
    
}
@media (max-width: 479.98px) {
    .page{
        gap: 15px;
    }
}
@media (max-width: 424.98px) {
    .product-card__item{
        flex: 0 1 calc(354px + 1px);
    }
    .product-card__item:hover{
        flex: 0 1 354px;
    }
    .card-news__info{
        padding: 5px 14px 14px 14px;
    }
}

@media (max-width: 319.98px) {
    .card-news__item-link{
        font-size: 20px;
        padding: 5px;
        justify-items: flex-start;
    }
    .page{
        gap: 10px;
    }
}
