
@import url("fonts.css");

@import url("reset.css");





.wrapper {
    min-width: 100%;
}
.block-car {
    padding: 500px 0 0px 0;
    background: url(../img/route_66.jpg) 0px 0 / 100% 1000px no-repeat;
    position: relative;
    
    
}
.block-car--margine {
    

}
.block-car__container {
}
.block-car__info{
    position: absolute;
    top: 20px;
    left: 250px;
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #000000;
    max-width: 800px;
    text-align: center;
    background-color: #6666662b;
}
.car {
    max-width: 700px;
    position: relative;
    z-index: 1;
}
.car--margine {
    
    margin: 0px auto;
}
.car__container {
    
}
.car__body {
    width: 350px;
    height: 320px;
    background-color: #000000;
    border-radius: 4% 4% 1% 1%;
    position: relative;
    z-index: 5;
}
.car__bamper {
    width: 350px;
    height: 100px;
    border-radius: 3% 3% 20% 20%;
    background-color: #808080;
    position: relative;
    z-index: 3;
}
.car__lights-bamper {
    font-size: 0;
    position: relative;
    top: 80px;
    left: 40px;
}
.car__lights-bamper:hover .car__light-bamper{
    background-color: #f0a944;
    border: 1px solid #ffdc68;
    box-shadow: 0px 0px 10px 2px #f0a944;
}
.car__light-bamper {
    width: 20px;
    height: 10px;
    border-radius: 50% ;
    background-color: #fcf0b5;
    border: 1px solid #ebbe2b;
    display: inline-block;
}
.car__light-bamper:not(:last-child){
    margin: 0 5px 0 0;
}

.car__wheel {
    width: 60px;
    height: 30px;
    background-color: #2f2f2f;
    border-radius: 10%;
}
.car__wheel--left {
    position: relative;
    top: -15px;
    left: 5px;
    z-index: 2;
}
.car__wheel--right {
    position: relative;
    top: -45px;
    left: 285px;
    z-index: 2;
}
.car__block-exhaust{

}
.car__block-exhaust:hover .car__exhaust{
    box-shadow: none;
}
.car__block-exhaust:hover .car__exhaust::before{
    content: url(../img/hot_icon.svg);
    width: 80px;
    position: relative;
    top: -107px;
    left: -20px;
}
.car__exhaust {
    width: 40px;
    height: 60px;
    background-color: #c3c3c3;
    box-shadow: 0px -60px 20px 2px #2f2f2f;
    position: relative;
}

.car__exhaust--left {
    border-radius: 30% 8% 0 0;
    position: absolute;
    top: -30px;
    left: 5px;
    
}
.car__exhaust--right {
    border-radius: 8% 30% 0 0;
    position: absolute;
    top: -30px;
    left: 305px;
}
.car__horn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(53, 53, 53);
    background-color: #a9a9a9;
}
.car__inside-horn{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    top: 7px;
    left: 7px;
}
.car__horn--left {
    position: absolute;
    top: -20px;
    left: 60px;
}
.car__horn--right {
    position: absolute;
    top: -20px;
    left: 270px;
}
.car__roof-lights {
    font-size: 0;
    position: absolute;
    top: -10px;
    left: 155px;
}
.car__roof-lights:hover{
    box-shadow: 1px 1px 10px 5px #fe7f51;
    background-color: #fd916a;
}
.car__top-lights{
    width: 10px;
    height: 10px;
    background-color: #ffac8e;
    border-radius: 50% 50% 0 0;
    border: 1px solid #ff5100;
    display: inline-block;
    
}
.car__top-lights:not(:last-child){
    margin: 0 5px 0 0px;
}
.car__visor {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 340px;
    height: 40px;
    z-index: 10;
    border: 1px solid #808080;
    background-color: #000000;
    border-radius: 5px 5px 20% 20%;
}
.car__windshield {
    width: 160px;
    height: 100px;
    background-color: #2f2f2f;
    border-radius: 5px;
}
.car__windshield--left {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 6;
}
.car__windshield--right {
    position: absolute;
    top: 20px;
    left: 180px;
    z-index: 6;
}
.car__mirror {
    width: 70px;
    height: 110px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
}
.car__inside-mirror{
    width: 40px;
    height: 105px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    background-color: #666666;
    
}
.car__mirror--left {
    position: absolute;
    top: 15px;
    left: -60px;
}
.car__mirror--left .car__inside-mirror {
    position: relative;
    top: 2px;
    left: 5px;
}
.car__mirror--right {
    position: absolute;
    top: 15px;
    left: 340px;
}
.car__mirror--right .car__inside-mirror {
    position: relative;
    top: 2px;
    left: 23px;
}
.car__blinker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffac8e;
    border: 1px solid #fd8f5c;
}
.car__blinker:hover{
    box-shadow: 1px 1px 10px 10px #fe7f51;
    background-color: #fe7f51;
}
.car__blinker--left {
    position: absolute;
    top: 125px;
    left: -50px;
}
.car__blinker--right {
    position: absolute;
    top: 125px;
    left: 380px;
}
.car__radiator-grill {
    position: absolute;
    top: 195px;
    left: 100px;
    z-index: 6;
    background-color: #a0a0a0;
    width: 150px;
    height: 120px;
    border-radius: 10% 10% 2% 2%;
    padding: 3px;
}
.car__logo {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #d9d9d9;
}
.car__grill {
    width: 100%;
    height: 102px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 3px;
    background-color: #2f2f2f;
}
.car__lights {
    width: 60px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #d9d9d9;
    padding: 2px 2px 0px 2px;
    position: absolute;
    top: 250px;
    left: 10px;
    z-index: 6;
}

/* стільки тіней для цікавішого вигляду світла фар */
.car__main-lights:hover .car__light{
    background-color: #ffce63;
    box-shadow: 5px 5px 5px 5px #ffce63a2,5px -5px 5px 5px #ffce63a2,-5px 5px 5px 5px #ffce63a2,-5px -5px 5px 5px #ffce63a2;
}


.car__lights--left {
    position: absolute;
    top: 250px;
    left: 279px;
    z-index: 6;
}
.car__light {
    width: 25px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #f0f0f0;
    display: inline-block;
}
