@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std-700.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}