
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}